<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="background"></div>

  <div id="container" class="god-of-war-container">
    
    <h2 class="main-title god-of-war-title">God of War Ragnarok</h2>

    <div class="juego-imagen-container">
      <img src="assets/images/god-of-war-ragnarok.jpg" alt="God of War Ragnarok" class="juego-imagen god-of-war-image">
    </div>

    <p class="juego-descripcion">
      Sumérgete en un épico viaje a través de los reinos nórdicos mientras Kratos y Atreus enfrentan nuevos desafíos, antiguos enemigos y descubren su destino en una historia cargada de emoción y acción.
    </p>

    <div class="boton-volver">
      <ion-button expand="block" color="primary" routerLink="/accion">
        Acción
      </ion-button>
    </div>
  </div>
</ion-content>
