<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Resident Evil Village</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding resident-evil-village-background">
  <div id="container" class="resident-evil-village-container">
    <h2 class="main-title resident-evil-village-title">Resident Evil Village</h2>

    <div class="juego-imagen-container">
      <img src="assets/images/resident-evil-village.jpg" alt="Resident Evil Village" class="juego-imagen resident-evil-village-image">
    </div>

    <p class="juego-descripcion">
      En **Resident Evil Village**, los jugadores se sumergen en un mundo oscuro y escalofriante, donde la supervivencia es la única opción. Ethan Winters se adentra en un pueblo aterrador, enfrentándose a criaturas sobrenaturales y horrores inimaginables en su búsqueda por rescatar a su hija. Con un ambiente tenso y aterrador, este título lleva la saga a nuevas alturas de terror psicológico.
    </p>

    <div class="boton-volver">
      <ion-button expand="block" color="primary" routerLink="/terror">
        Terror
      </ion-button>
    </div>
  </div>
</ion-content>
