<ion-header>
  <ion-toolbar>
    <ion-title>Gen2030</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="background"></div>
  <h1 class="main-title">Bienvenido(a) a Gen2030</h1>
  <div class="slogan">Tus Juegos Digitales</div>

  <img src="../../assets/images/logo_gen2030.jpg" class="logo" alt="logo">

  <ion-card class="login-card">
    <ion-card-header>
      <ion-card-title class="login-title">Inicia Sesión</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item class="input-item">
        <ion-label position="floating" color="primary">Email</ion-label>
        <ion-input type="email"></ion-input>
      </ion-item>

      <ion-item class="input-item">
        <ion-label position="floating" color="primary">Contraseña</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>

      <ion-button expand="block" class="login-button">Login</ion-button>
      <ion-button expand="block" class="register-button">Registrarse</ion-button>

      <ion-text class="forgot-password" color="medium">
        <a href="#">¿Olvidaste tu Password?</a>
      </ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>
