.main-title {
  font-size: 28px;
  text-align: center;
  margin: 20px 0;
  color: #50C878;
  font-weight: bold;
}

.logo {
  display: block;
  margin: 0 auto 10px;
  width: 100%;
  height: auto;
  max-height: none;
  object-fit: contain;
  opacity: 0;
  animation: fadeIn 1s forwards;
  animation-delay: 0.5s;
}

ion-card-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; 
}

.login-card {
  width: 90%;
  max-width: 400px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  margin: 20px auto;
  padding: 10px;
}

.login-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin: 10px 0;
}

.input-item {
  margin-bottom: 15px;
}

ion-input {
  --background: rgba(255, 255, 255, 0.8);
  --border-radius: 8px;
  color: blue;
}

.login-button, .register-button {
  margin-top: 10px;
  background-color: blue;
  color: white;
}

.forgot-password {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
  color: red;
}

.slogan {
  text-align: center;
  font-size: 16px;
  color: #50C878;
  margin-top: 10px;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../../assets/images/gen2030_2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
