<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="background"></div>
  
  <div id="container">
    <h2 class="main-title">Shooter</h2>

    <div class="juegos-list">

      <div class="juego">
        <h3 class="juego-nombre">COD Black Ops 6</h3>
        <img src="assets/images/cod.jpg" alt="COD Black Ops 6" class="juego-imagen">
        <p class="juego-descripcion">
          La última entrega de la saga Call of Duty con intensos combates y una emocionante historia.
        </p>
      </div>

      <div class="juego">
        <h3 class="juego-nombre">Halo Infinite</h3>
        <img src="assets/images/halo.jpg" alt="Halo Infinite" class="juego-imagen">
        <p class="juego-descripcion">
          Únete al Jefe Maestro en su misión más grande hasta ahora, con un mundo abierto lleno de acción.
        </p>
      </div>

    </div>

    <div class="boton-volver">
      <ion-button expand="block" color="primary" routerLink="/categorias">
        Categorías
      </ion-button>
    </div>
  </div>
</ion-content>
