<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Halo Infinite</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding halo-infinite-background">
  <div id="container" class="halo-infinite-container">
    <h2 class="main-title halo-infinite-title">Halo Infinite</h2>

    <div class="juego-imagen-container">
      <img src="assets/images/halo.jpg" alt="Halo Infinite" class="juego-imagen halo-infinite-image">
    </div>

    <p class="juego-descripcion">
      **Halo Infinite** trae de vuelta a Master Chief en una experiencia épica de ciencia ficción. Lucha en un vasto mundo abierto, enfrentando a una nueva amenaza mientras exploras nuevos territorios, descubres secretos de la antigua humanidad y combates una guerra intergaláctica. Con un multijugador dinámico y gráficos deslumbrantes, Halo Infinite promete ser un regreso triunfal a la franquicia.
    </p>

    <div class="boton-volver">
      <ion-button expand="block" color="primary" routerLink="/shooter">
        Shooter
      </ion-button>
    </div>
  </div>
</ion-content>
