<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Terror</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding terror-background">
  <div id="container">
    <h2 class="main-title">Terror</h2>

    <div class="juegos-list">
      <div class="juego">
        <a [routerLink]="['/residentevil']">
          <h3 class="juego-nombre">Resident Evil Village</h3>
          <img src="assets/images/resident-evil-village.jpg" alt="Resident Evil Village" class="juego-imagen">
        </a>
        <p class="juego-descripcion">
          Enfréntate a monstruos aterradores y descubre los horrores que acechan en un pueblo aislado.
        </p>
      </div>

      <div class="juego">
        <a [routerLink]="['/stillwakes']">
          <h3 class="juego-nombre">Still Wakes the Deep</h3>
          <img src="assets/images/still-wakes-the-deep.jpg" alt="Still Wakes the Deep" class="juego-imagen">
        </a>
        <p class="juego-descripcion">
          Una experiencia de horror psicológico ambientada en una plataforma petrolera en el mar del norte.
        </p>
      </div>
    </div>

    <div class="boton-volver">
      <ion-button expand="block" color="primary" routerLink="/categorias">
        Categorías
      </ion-button>
    </div>
  </div>
</ion-content>
