.personajes-background {
    background: radial-gradient(circle, white 0%, #383636a4 100%) !important;
    color: #50C878 !important;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px;
  }
  
  .personajes-list {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
  }
  
  .personaje-item {
    display: flex;
    align-items: center;
    background: transparent !important; /* Asegura que el fondo sea transparente */
    padding: 15px;
    margin-top: 10px;
    border: none;  /* Elimina borde predeterminado */
    box-shadow: none; /* Elimina sombras */
  }
  
  .personaje-thumbnail {
    margin-right: 10px; /* Espacio entre la imagen y el texto */
  }
  
  .personaje-imagen {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 0; /* Elimina cualquier borde redondeado */
    background: none !important; /* Elimina cualquier fondo detrás de la imagen */
  }
  
  .personaje-label {
    color: #50C878;
  }
  
  .personaje-nombre h3 {
    font-size: 25px !important;
    margin: 0;
    font-weight: bolder;
    background: transparent !important; /* Elimina el fondo blanco */
    color: #50C878; /* Color del texto */
  }
  