<ion-header>
  <ion-toolbar>
    <ion-title>Acerca de</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="acerca-background">
  <div class="acerca-container">
    <img src="assets/images/gen2030_1.jpg" alt="Imagen de la tienda" class="tienda-imagen">
    <div class="descripcion">
      <h2>Gen 2030, Tus Juegos Digitales</h2>
      <p>
        Desde 2020, somos tu mejor opción en la venta de juegos digitales para PS5 y Xbox Series S. 
        Ofrecemos una amplia variedad de títulos, desde los más populares hasta los indie más innovadores, 
        todos a precios competitivos.
      </p>
    </div>
  </div>
</ion-content>
