@keyframes fadeInOut {
    0% {
      opacity: 0; /* Comienza invisible */
    }
    50% {
      opacity: 1; /* Se vuelve completamente visible */
    }
    100% {
      opacity: 0; /* Vuelve a ser invisible */
    }
}

.acerca-background {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra horizontalmente */
    justify-content: center; /* Centra verticalmente */
    height: 100%; /* Asegura que ocupe toda la altura */
    padding: 20px;
    background: radial-gradient(circle, white 0%, #383636a4 100%); /* Fondo */
}

.acerca-container {
    text-align: center; /* Centra todo el contenido dentro del contenedor */
    margin: 0 20px; /* Márgenes a los lados */
}

.tienda-imagen {
    width: 80%; /* Ajusta el tamaño según tus necesidades */
    max-width: 500px; /* Tamaño máximo para pantallas grandes */
    height: auto; /* Mantiene la proporción */
    margin-top: 40px; /* Agrega margen arriba y abajo */
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 0px;
    animation: fadeInOut 4s ease-in-out infinite; /* Animación de desvanecimiento */
}

.descripcion {
    color: #50C878; /* Color de texto */
}

.descripcion h2 {
    font-size: 30px; /* Tamaño del título */
    margin-bottom: 10px; /* Espacio debajo del título */
    font-weight: bolder;
}

.descripcion p {
    font-size: 16px; /* Tamaño del texto descriptivo */
    line-height: 1.5; /* Espaciado entre líneas */
}
