<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>EA Sports FC 25</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ea-sports-fc-background">
  <div id="container" class="ea-sports-fc-container">
    <h2 class="main-title ea-sports-fc-title">EA Sports FC 25</h2>

    <div class="juego-imagen-container">
      <img src="assets/images/ea-fc-25.jpg" alt="EA Sports FC 25" class="juego-imagen ea-sports-fc-image">
    </div>

    <p class="juego-descripcion">
      Vive la emoción del fútbol con **EA Sports FC 25**, el título que redefine el género. Disfruta de un fútbol realista, jugabilidad mejorada y modos de juego innovadores. Desde las ligas más famosas hasta las competiciones internacionales, prepárate para dominar el campo en esta nueva edición.
    </p>

    <div class="boton-volver">
      <ion-button expand="block" color="primary" routerLink="/deportes">
        Deportes
      </ion-button>
    </div>
  </div>
</ion-content>
