<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="background"></div>

  <div id="container" class="black-myth-container">
    
    <h2 class="main-title black-myth-title">Black Myth Wukong</h2>

    <div class="juego-imagen-container">
      <img src="assets/images/black-myth-wukong.jpg" alt="Black Myth Wukong" class="juego-imagen black-myth-image">
    </div>

    <p class="juego-descripcion">
      Adéntrate en un mundo lleno de mitos y leyendas con *Black Myth Wukong*, un juego de acción en tercera persona donde el protagonista, el Rey Mono, lucha contra criaturas míticas y se enfrenta a grandes desafíos en un entorno visual impresionante.
    </p>

    <div class="boton-volver">
      <ion-button expand="block" color="primary" routerLink="/accion">
        Acción
      </ion-button>
    </div>
  </div>
</ion-content>
