<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Call of Duty: Black Ops 6</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding cod-black-ops-6-background">
  <div id="container" class="cod-black-ops-6-container">
    <h2 class="main-title cod-black-ops-6-title">Call of Duty: Black Ops 6</h2>

    <div class="juego-imagen-container">
      <img src="assets/images/cod.jpg" alt="Call of Duty: Black Ops 6" class="juego-imagen cod-black-ops-6-image">
    </div>

    <p class="juego-descripcion">
      **Call of Duty: Black Ops 6** lleva la acción de los shooters a un nuevo nivel, con un combate de alta intensidad, mapas más grandes y modalidades innovadoras. Vive la guerra moderna con gráficos impresionantes, nuevos modos de juego cooperativo, y un modo multijugador mejorado que te sumergirá en intensos combates online. ¿Estás listo para enfrentar a tus enemigos en el campo de batalla?
    </p>

    <div class="boton-volver">
      <ion-button expand="block" color="primary" routerLink="/shooter">
        Shooter
      </ion-button>
    </div>
  </div>
</ion-content>
