<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>NBA 2K25</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding nba-2k25-background">
  <div id="container" class="nba-2k25-container">
    <h2 class="main-title nba-2k25-title">NBA 2K25</h2>

    <div class="juego-imagen-container">
      <img src="assets/images/nba-2k25.jpg" alt="NBA 2K25" class="juego-imagen nba-2k25-image">
    </div>

    <p class="juego-descripcion">
      En **NBA 2K25**, vive la experiencia más realista y dinámica del baloncesto. Con gráficos mejorados, jugabilidad fluida y nuevos modos de juego, este título te permitirá competir como nunca antes. Toma el control de tu equipo y desafía a los mejores en la cancha, desde las ligas locales hasta las internacionales.
    </p>

    <div class="boton-volver">
      <ion-button expand="block" color="primary" routerLink="/deportes">
        Deportes
      </ion-button>
    </div>
  </div>
</ion-content>
