/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

.background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('assets/images/gen2030_2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #383636a4;
    z-index: -1;
  }

ion-menu {
    --background: #383636a4;
    height: 100%;
  }
  
ion-toolbar {
    --background: #383636a4;
  }
  
ion-menu-button {
    color: #50C878;
  }

.menu-item {
  --background: #383636a4;
  color: #50C878;
  height: 100%;
  box-sizing: border-box;
}

ion-app, ion-content {
  --background: radial-gradient(circle, white 0%, #383636a4 100%);
  background-color: radial-gradient(circle, white 0%, #383636a4 100%);
  height: 100%;
}

.menu-title {
  color: #50C878;
  font-size: 1.5rem;
}

//pude arreglar con un padding un espacio en blanco que se genero con el componente del header,
//pero ahora trate y trate con el menu desplegado hay un espacio en blanco y no lo pude arreglar
//probe envolviendo el menu asi <div class="menu-list-container"> y luego dandole estilo al menu-list-container
//con un padding, margenes, etc y el padding por ejemplo se aplicaba pero el espacio en blanco
//no se iba