<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="background"></div>

  <div id="container" class="hogwarts-container">
    <h2 class="main-title hogwarts-title">Hogwarts Legacy</h2>

    <div class="juego-imagen-container">
      <img src="assets/images/hogwarts-legacy.jpg" alt="Hogwarts Legacy" class="juego-imagen hogwarts-image">
    </div>

    <p class="juego-descripcion">
      Sumérgete en el mundo mágico de Hogwarts y vive tu propia aventura como estudiante en el famoso colegio de magia.
    </p>

    <div class="boton-volver">
      <ion-button expand="block" color="primary" routerLink="/aventura">
        Aventura
      </ion-button>
    </div>
  </div>
</ion-content>
