<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="background"></div>
  
  <div id="container">
    <h2 class="main-title">Bienvenido(a), {{ usuario }}</h2>
    
    <div class="info-card">
      <h2 class="login-title">Información Adicional</h2>
      
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input [(ngModel)]="nombre"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Apellido</ion-label>
        <ion-input [(ngModel)]="apellido"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Nivel de Educación</ion-label>
        <ion-input [(ngModel)]="nivelEducacion"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Fecha de Nacimiento</ion-label>
        <ion-input type="date" [(ngModel)]="fechaNacimiento"></ion-input>
      </ion-item>

      <div class="button-container">
        <ion-button class="boton-limpiar" (click)="limpiar()">Limpiar</ion-button>
        <ion-button class="boton-mostrar" (click)="mostrar()">Mostrar</ion-button>    
      </div>
    </div>
  </div>
</ion-content>
