.main-title {
  font-size: 28px;
  text-align: center;
  margin: 0;
  color: #50C878;
  font-weight: bold;
}

.login-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin: 10px 0;
}

#container {
  text-align: center;
  padding: 20px;
}

.info-card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  padding: 20px; 
  margin: 20px auto; 
  max-width: 400px;
}

ion-button.boton-limpiar {
  background-color: red !important; /* esto no se aplicó, ni idea porque */
  color: white !important;
}

ion-button.boton-mostrar {
  background-color: blue !important;
  color: white !important;
}

.button-container {
  margin-top: 20px;
  display: flex; 
  justify-content: center;
}

ion-button {
  margin: 0 10px;
}
