<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="background"></div>

  <div id="container" class="sackboy-container">
    <h2 class="main-title sackboy-title">Sackboy: A Big Adventure</h2>

    <div class="juego-imagen-container">
      <img src="assets/images/sackboy.jpg" alt="Sackboy: A Big Adventure" class="juego-imagen sackboy-image">
    </div>

    <p class="juego-descripcion">
      Acompaña a Sackboy en una emocionante y divertida aventura llena de desafíos y creatividad, donde la diversión y los obstáculos se combinan en un mundo único.
    </p>

    <div class="boton-volver">
      <ion-button expand="block" color="primary" routerLink="/aventura">
        Aventura
      </ion-button>
    </div>
  </div>
</ion-content>
