<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Still Wakes the Deep</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding still-wakes-the-deep-background">
  <div id="container" class="still-wakes-the-deep-container">
    <h2 class="main-title still-wakes-the-deep-title">Still Wakes the Deep</h2>

    <div class="juego-imagen-container">
      <img src="assets/images/still-wakes-the-deep.jpg" alt="Still Wakes the Deep" class="juego-imagen still-wakes-the-deep-image">
    </div>

    <p class="juego-descripcion">
      **Still Wakes the Deep** es un juego de terror psicológico que te sumerge en una atmósfera claustrofóbica a bordo de una plataforma petrolera en el mar del norte. Juegas como un miembro de la tripulación que debe enfrentarse a fuerzas sobrenaturales que acechan en las sombras, mientras luchas por sobrevivir a los horrores que amenazan con destruirlo todo. Con una narrativa impactante y un ambiente aterrador, el juego mantiene la tensión al máximo mientras exploras el oscuro mundo en el que te encuentras.
    </p>

    <div class="boton-volver">
      <ion-button expand="block" color="primary" routerLink="/terror">
        Terror
      </ion-button>
    </div>
  </div>
</ion-content>
